body {
  background-color: rgb(58, 58, 58);
  color: white;
  font-family: sans-serif;
  padding: 2rem 5rem;
}

li {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}

li a {
  color: white;
  text-decoration: none;
}

input {
  width: 14rem;
  background-color: #616161;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.8rem 0.4rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

::placeholder {
  color: white;
}

button {
  background-color: wheat;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}
